# Qt / CMake 构建生成文件
build/
build-*/
cmake-build-*/
*.pro.user
*.pro.user.*
*.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
*.a
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.app/
*.out

# Qt Creator 配置文件
.qmake.stash
.qtcreator/
.user

# 系统垃圾文件
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# iCloud 临时文件
.icloud
